@charset "UTF-8"
*{
	margin:0;
	padding:0;
	outline:none;
}
html{
	height:98%;
}
body{
	width:98%;
	height:100%;
	color:#fff);
	background-color:rgb(0,255,255);\
	font-size:1em;
	font-family:"Segoe UI"; sans-serif;
	line-height:135%;
}
a{
	color:rgb(1,50,32);
	text-decoration:none;
	transition:all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition:all.6s ease;
}
a:active{
	color:rgb(85,43,146);
}
::selection{background-color:rgb(93,57,84);}
::-moz-selection{background-color:rgb(93,57,84);}
a:hover{
	color:rgb(222,93,131);
	text-decoration:none
	transition:all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition:all.6s ease;
}
img{
	max-width:100%;
	height:auto;
	width:auto\9;
}
header, footer{
	width:98%;
	background-color:rgb(13,152,186);
	float:left;
}
header{
	bottom-border:2px solid silver;
	padding:1%;
}
footer{
	bottom-top:2px solid silver;
	padding:1%;
	padding-bottom:2%;
}
#logo{
	font-size:2em;
	font-family:Comic Sans MS, sans-serif;
}
#contact{
	font-size:1.5em;
	font-family:Comic Sans MS, sans-serif;
	margin-left:10px;
}
input[type=search].field{
	border-radius:5px;
	border:2px solid silver;
	padding:5px;
	margin-left:20px;
}
input[type=search].field:focus{
	border:2px solid rgb(222,93,131);
}
#in{
	font-size:1.5em;
	font-family:Comic Sans MS, sans-serif;
}
#up{
	font-size:1.5em;
	font-family:Comic Sans MS, sans-serif;
}
.left{
	float:left
}
.right{
	float:right
}
.clear{
	float:both
}
#page-w:after{
	content:"";
	display:block;
}
footer, #page-w{
	height:-10px;
}
#page-w{
	min-height:92%;
	margin-bottom:-10px;
}
#p1{
	font-size:1.5em;
	font-family:Comic Sans MS, sans-serif;
	margin-left:170px;
}
#menu0{
	margin: 10px;
	width: 900px;
	font-family: sans-serif;
}
ol,ul {
	list-style: none;
}
#menu0 li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}
#menu0 a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:rgb(13,152,186);
	color:#000;
}
#menu0 a:hover {
	background-color:rgb(222,93,131);
	color:#fff;
}
#back{
	position:absolute;
	height:97%;
	z-index:-2;
	width:98%;
}
#back2{
	left:0;
	top:0;
	position:absolute;
	height:100%;
	z-index:-5;
	width:100%;
}
#ser1{
	background-color:rgb(19,97,128);
	width:300px;
}
#ser2{
	width:300px;
	max-width:100%;
	display:block;
	border:1px;
	height:510px;
	border-top:1px solid red;
	padding:0;
	background: rgba(0, 0, 0, 0.5);
}
#ser3{
	color:white;
	padding:5px;
	border-radius:5px;
	margin-right:5px;
}
#ser3:hover{
	color:rgb(222,93,131);
	text-decoration:none
	transition:all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition:all.6s ease;
}
#ab{
	color:rgb(222,93,131);
	font-size:20px;
	background-color:rgb(19,97,128);
	width:300px;
}
#ab2{
	color:rgb(222,93,131);
	width:300px;
	max-width:100%;
	display:block;
	border:1px;
	height:510px;
	border-top:1px solid red;
	padding:0;
	background: rgba(0, 0, 0, 0.5);
	line-height:0.2;
}
#email{
	color:rgb(222,93,131)
}
#fb{
	height:30px;
	top:50px;
}
#blog{
	position:absolute;
	border:1px solid silver;
	top:100px;
	left:100px;
	background-color:white;
	width:25%;
	min-height:400px;
}
#blog2{
	position:absolute;
	border:1px solid silver;
	top:100px;
	left:500px;
	background-color:white;
	width:25%;
	min-height:400px;
}
#blog3{
	position:absolute;
	border:1px solid silver;
	top:100px;
	left:900px;
	background-color:white;
	width:25%;
	min-height:400px;
}
#blog, img{
	height:350px;
}
